version: "3.9"

services:
  redis:
    image: 'bitnami/redis:7.4'
    restart: always
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_MASTER_PASSWORD=admin
      - REDIS_PASSWORD=admin
